**/bin/
**/obj/

tests/TacBlog.Api.Tests/
tests/TacBlog.Acceptance.Tests/

**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/launchSettings.json
.git/
.gitignore

docs/
*.md

frontend/

StrykerOutput/
